﻿<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <title>Angular Learn</title>
    <script src="/scripts/angular.js"></script>
    <script src="/app/app.js"></script>
</head>
<body data-ng-controller="appCtrl">
    <input data-ng-model="hello"/><br/>
    {{hello}}
    <hr/>
    <button data-ng-click="load()">Load</button>
    <div data-ng-repeat="l in loaded">
        firstProp : {{l.firstProp}} <br/>
        twoProp : {{l.twoProp}} <br/>
    </div>
</body>
</html>
